[submodule "SpringSecurityBasics"]
	path = SpringSecurityBasics
	url = https://github.com/CarlosHernandez14/spring_security_basics.git
[submodule "EazyBank"]
	path = EazyBank
	url = https://github.com/CarlosHernandez14/eazy_bank.git
